/* HEAD */
html {
    margin: 0;
    width: 100%;
}

body {
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0;
}

.error h1 {
    padding-top: 15%;
    padding-bottom: 50%;
    height: 200%;
    text-align: center;
}

/* LOGO */
.logo {
    width: 100%;
    text-align: center;
    padding-bottom: 3.5%;
}

img#logolrh {
    width: 14%;
    margin-right: 15%;
    margin-top: 1%;
}

img#hautinsta {
    float: left;
    margin-top: 10.5%;
    margin-left: 7.5%;
    width: 3%;
}

img#hautfb {
    float: left;
    margin-top: 10.95%;
    margin-left: 1.5%;
    width: 2.25%;
    filter: contrast(600%);
}

a {
    height: 0%;
}


/* barre de navigation*/
.nothere li {
    /*background-color: #F67912; */
    background-color: #ECBF00;
    color: #645c8b;

}

.nothere a {
    background-color: #ECBF00;
}

.two a {
    background-color: #ECBF00;
}

.nav .nothere {
    background-color: #ECBF00;

}

nav {
    width: 95%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

nav ul li {
    float: left;
    width: 13.5%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    margin-right: 2.75%;
    padding-right: 0%;
    padding-left: 0%;
    margin-left: 2.75%;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    border-radius: 15px;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav li {
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}

nav .nothere a {
    display: block;
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin: 0px 15px;
    font-size: 130%;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-family: 'Zilla Slab', serif;
    font-weight: 900;
}

nav a {
    font-family: 'Zilla Slab', serif;
    font-weight: 900;
    display: block;
    text-decoration: none;
    color: #ECBF00;
    margin-left: auto;
    margin-right: auto;
    margin: 0 15px;
    font-size: 130%;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    border-radius: 20px;
}

.nothere a:hover {
    color: white;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #ECBF00;
    border-bottom: 2px solid transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    overflow: hidden;
    background-color: #ECBF00;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* au survol des catégories */
.sous {
    display: none;
    background-color: #ECBF00;
    position: absolute;
    width: 25%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: block;
    margin-top: 3px;
    border-radius: 5px;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    font-family: 'Zilla Slab', serif;
    padding: 15px;
    border-bottom: none;
    color: white;
}

/* sous-menu */
.nothere .sous a {
    padding: 7.5px;
    border-bottom: none;
    color: white;
}

.sous a:hover {
    border-bottom: none;
    background-color: #ECBF00;
    text-decoration-color: white;
}

.deroulant>a::after {
    font-size: 78%;
}

.navigation i::after {
    content: "▼";
    font-style: normal;
}


/* FOOTER */
footer {
    margin-bottom: 0;
    position: static;
    margin-top: 0px;
    padding-bottom: 0.1%;
    bottom: 0;
    background-color: #ECBF00;
}

.foot h3 {
    padding-top: 0.9%;
    text-align: center;
    color: whitesmoke;
    line-height: 120%;
    font-size: 120%;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
}

.foot a {
    color: white;
    text-decoration: underline;
}

.foot i {
    font-style: normal;
    text-decoration: underline;
}

.foot img {
    width: 0.75%;
}

/* RESPONSIVE */

@media screen and (min-width: 30px) and (max-width: 320px) {
    .logo {
        margin-bottom: 0%;
    }

    img#logolrh {
        width: 35%;
        text-align: center;
        margin-right: 23.5%;
    }

    img#hautinsta {
        width: 8.5%;
        margin-top: 19%;
    }

    img#hautfb {
        width: 6.7%;
        margin-top: 19.9%;
    }

    a {
        height: 0%;
    }

    nav ul li {
        width: 75%;
        text-align: center;
        margin-left: 7.5%;
    }

    nav .nothere a {
        font-size: 100%;
    }

    nav a {
        font-size: 100%;
    }

    .navigation li {
        margin-left: 10%;
    }

    .sous {
        opacity: 0%;
    }

    .navigation i::after {
        content: "";
    }


    .descrip {
        padding-top: 5%;
    }

    .descrip h1 {
        margin-top: 0%;
        font-size: 100%;
    }

    .comment h1 {
        font-size: 100%;
    }

    .themes {
        height: 235vw;
    }

    #recyclerie img {
        position: sticky;
        text-align: center;
        margin-right: 7.5%;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #recyclerie h1 {
        margin-left: 0%;
        margin-top: 30%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #pole img {
        position: sticky;
        text-align: center;
        margin-right: 7.5%;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #pole h1 {
        margin-left: 14.75%;
        margin-top: 120%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 70%;
        text-decoration: none;
    }

    #social img {
        float: none;
        position: sticky;
        text-align: center;
        margin-right: 7.5%;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #social h1 {
        margin-left: 0%;
        margin-top: 199%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .suite {
        width: 100%;
    }

    .descrip2 h1 {
        font-style: bold;
        margin-top: 15%;
        text-align: center;
        font-size: 150%;
        margin-left: 0%;
    }

    .descrip2 h2 {
        width: 90%;
        padding-left: 5%;
        font-size: 105%;
        margin-left: 0%;
    }

    .liste h1 {
        margin-top: 2.5%;
        padding-left: 0%;
        text-align: center;
        width: 95%;
        margin-right: 0%;
        font-size: 140%;
        padding-right: 2.5%;
        margin-left: 2.5%;
    }

    .liste h2 {
        margin-top: 0%;
        padding-left: 2.5%;
        font-size: 105%;
    }

    .liste h3 {
        width: 90%;
        padding-left: 5%;
        margin-top: 0%;
        font-size: 105%;
        margin-bottom: 10%;
    }

    footer {
        margin-top: 2.5%;
        height: 18vw;
    }

    .foot h3 {
        font-size: 85%;
    }

    .foot img {
        width: 4%;
    }
}

@media screen and (min-width: 321px) and (max-width: 359px) {

    img#logolrh {
        width: 35%;
        text-align: center;
        margin-right: 23.5%;
    }

    img#hautinsta {
        width: 8.5%;
        margin-top: 22%;
    }

    img#hautfb {
        width: 6.7%;
        margin-top: 22.9%;
    }

    nav ul li {
        width: 75%;
        text-align: center;
        margin-left: 7.5%;
    }

    nav .nothere a {
        font-size: 120%;
    }

    nav a {
        font-size: 120%;
    }

    .navigation li {
        margin-left: 10%;
    }

    .sous {
        opacity: 0%;
    }

    .navigation i::after {
        content: "";
    }

    .descrip {
        padding-top: 5%;
    }

    .descrip h1 {
        font-size: 110%;
        margin-top: 0%;
    }

    .comment h1 {
        font-size: 110%;
    }

    .themes {
        height: 235vw;
    }

    .themes img {
        display: block;
    }

    #recyclerie img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        filter: blur(0px);
    }

    #recyclerie h1 {
        margin-left: 0%;
        margin-top: 30%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #pole img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #pole h1 {
        margin-left: 0%;
        margin-top: 120%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #social img {
        float: none;
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #social h1 {
        margin-left: 0%;
        margin-top: 199%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .suite {
        height: 252vw;
        width: 100%;
    }

    .descrip2 h1 {
        font-style: bold;
        margin-top: 15%;
        text-align: center;
        font-size: 150%;
        margin-left: 0%;
    }

    .descrip2 h2 {
        width: 90%;
        padding-left: 5%;
        font-size: 125%;
        margin-left: 0%;
    }

    .liste h1 {
        margin-top: 2.5%;
        padding-left: 0%;
        text-align: center;
        width: 95%;
        margin-right: 0%;
        font-size: 150%;
        padding-right: 2.5%;
        margin-left: 2.5%;
    }

    .liste h2 {
        margin-top: 0%;
        padding-left: 2.5%;
        font-size: 125%;
    }

    .liste h3 {
        width: 90%;
        padding-left: 5%;
        margin-top: 0%;
        font-size: 125%;
        margin-bottom: 10%;
    }

    footer {
        display: block;
        margin-top: 2.5%;
        padding-bottom: 0%;
        height: 25vw;
    }

    .foot h3 {
        font-size: 85%;
    }

    .foot img {
        width: 4%;
    }
}

@media screen and (min-width: 360px) and (max-width: 389px) {
    .logo {
        height: 8%;
        margin-bottom: 0%;
    }

    img#logolrh {
        width: 35%;
        text-align: center;
        margin-right: 23.5%;
    }

    img#hautinsta {
        width: 8.5%;
        margin-top: 19%;
    }

    img#hautfb {
        width: 6.7%;
        margin-top: 19.9%;
    }

    nav ul li {
        width: 75%;
        text-align: center;
        margin-left: 7.5%;
    }

    nav .nothere a {
        font-size: 125%;
    }

    nav a {
        font-size: 125%;
    }

    .navigation li {
        margin-left: 12%;
    }

    .sous {
        opacity: 0%;
    }

    .navigation i::after {
        content: "";
    }

    .descrip {
        padding-top: 5%;
    }

    .descrip h1 {
        margin-top: 0%;
        font-size: 125%;
    }

    .comment h1 {
        font-size: 125%;
    }

    .themes {
        height: 235vw;
    }

    .themes img {
        display: block;
    }

    #recyclerie img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        filter: blur(0px);
    }

    #recyclerie h1 {
        margin-left: 0%;
        margin-top: 30%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #pole img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #pole h1 {
        margin-left: 0%;
        margin-top: 120%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #social img {
        float: none;
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #social h1 {
        margin-left: 0%;
        margin-top: 199%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .suite {
        width: 100%;
    }

    .descrip2 h1 {
        font-style: bold;
        margin-top: 15%;
        text-align: center;
        font-size: 175%;
        margin-left: 0%;
    }

    .descrip2 h2 {
        width: 90%;
        padding-left: 5%;
        font-size: 125%;
        margin-left: 0%;
    }

    .liste h1 {
        margin-top: 2.5%;
        padding-left: 0%;
        text-align: center;
        width: 95%;
        margin-right: 0%;
        font-size: 150%;
        padding-right: 2.5%;
        margin-left: 2.5%;
    }

    .liste h2 {
        margin-top: 0%;
        padding-left: 2.5%;
        font-size: 125%;
    }

    .liste h3 {
        width: 90%;
        padding-left: 1.5%;
        margin-top: 0%;
        font-size: 125%;
        margin-bottom: 10%;
    }

    footer {
        margin-top: 2.5%;
        height: 18vw;
    }

    .foot h3 {
        font-size: 90%;
    }

    .foot img {
        width: 4%;
    }
}

@media screen and (min-width: 390px) and (max-width: 413px) {
    .logo {
        height: 8%;
        margin-bottom: 0%;
    }

    img#logolrh {
        width: 35%;
        text-align: center;
        margin-right: 22.5%;
    }

    img#hautinsta {
        width: 8.8%;
        margin-top: 19%;
    }

    img#hautfb {
        width: 7%;
        margin-top: 19.8%;
    }

    nav ul li {
        width: 75%;
        text-align: center;
        margin-left: 7.5%;
    }

    .navigation li {
        margin-left: 10%;
    }

    .sous {
        opacity: 0%;
    }

    .navigation i::after {
        content: "";
    }

    .descrip {
        padding-top: 5%;
    }

    .descrip h1 {
        margin-top: 0%;
        font-size: 125%;
    }

    .comment h1 {
        font-size: 125%;
    }

    .themes {
        height: 235vw;
    }

    .themes img {
        display: block;
    }

    #recyclerie img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        filter: blur(0px);
    }

    #recyclerie h1 {
        margin-left: 0%;
        margin-top: 30%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #pole img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #pole h1 {
        margin-left: 0%;
        margin-top: 120%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #social img {
        display: block;
        float: none;
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #social h1 {
        margin-left: 0%;
        margin-top: 199%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .suite {
        height: 222vw;
        width: 100%;
    }

    .descrip2 h1 {
        padding-top: 15%;
        font-style: bold;
        margin-top: 2.5%;
        text-align: center;
        font-size: 175%;
        margin-left: 0%;
    }

    .descrip2 h2 {
        width: 90%;
        padding-left: 5%;
        font-size: 125%;
        margin-left: 0%;
    }

    .liste h1 {
        margin-top: 2.5%;
        padding-left: 0%;
        text-align: center;
        width: 95%;
        margin-right: 0%;
        font-size: 150%;
        padding-right: 2.5%;
        margin-left: 2.5%;
    }

    .liste h2 {
        margin-top: 0%;
        padding-left: 2.5%;
        font-size: 125%;
    }

    .liste h3 {
        width: 90%;
        padding-left: 5%;
        margin-top: 0%;
        font-size: 125%;
        margin-bottom: 10%;
    }

    footer {

        margin-top: 2.5%;
        height: 28vw;
    }

    .foot img {
        width: 4%;
    }
}

@media screen and (min-width: 414px) and (max-width: 415px) {
    .logo {
        height: 8%;
        margin-bottom: 0%;
    }

    img#logolrh {
        width: 35%;
        text-align: center;
        margin-right: 23.5%;
    }

    img#hautinsta {
        width: 8%;
        margin-top: 19%;
    }

    img#hautfb {
        width: 6.2%;
        margin-top: 19.9%;
    }

    nav ul li {
        width: 75%;
        text-align: center;
        margin-left: 7.5%;
    }

    nav .nothere a {
        font-size: 125%;
    }

    nav a {
        font-size: 125%;
    }

    .navigation li {
        margin-left: 10%;
    }

    .sous {
        opacity: 0%;
    }

    .navigation i::after {
        content: "";
    }

    .descrip {
        padding-top: 5%;
    }

    .descrip h1 {
        margin-top: 0%;
        font-size: 125%;
    }

    .comment h1 {
        font-size: 125%;
    }

    .themes {
        height: 235vw;
    }

    .themes img {
        display: block;
    }

    #recyclerie img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        filter: blur(0px);
    }

    #recyclerie h1 {
        margin-left: 0%;
        margin-top: 30%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #pole img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #pole h1 {
        margin-left: 0%;
        margin-top: 120%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #social img {
        float: none;
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #social h1 {
        margin-left: 0%;
        margin-top: 199%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .suite {
        height: 195vw;
        width: 100%;
    }

    .descrip2 h1 {
        font-style: bold;
        margin-top: 12.5%;
        text-align: center;
        font-size: 175%;
        margin-left: 0%;
        margin-bottom: 1%;
    }

    .descrip2 h2 {
        width: 90%;
        padding-left: 5%;
        font-size: 125%;
        margin-left: 0%;
    }

    .liste h1 {
        margin-top: 2.5%;
        padding-left: 0%;
        text-align: center;
        width: 95%;
        margin-right: 0%;
        font-size: 150%;
        padding-right: 2.5%;
        margin-left: 2.5%;
    }

    .liste h2 {
        margin-top: 0%;
        padding-left: 2.5%;
        font-size: 125%;
    }

    .liste h3 {
        width: 90%;
        padding-left: 5%;
        margin-top: 0%;
        font-size: 125%;
        margin-bottom: 10%;
    }

    footer {
        margin-top: 0%;
        height: 26vw;
    }

    .foot img {
        width: 4%;
    }
}

@media screen and (min-width: 416px) and (max-width: 550px) {
    .logo {
        height: 8%;
        margin-bottom: 0%;
    }

    img#logolrh {
        width: 35%;
        text-align: center;
        margin-right: 23.5%;
    }

    img#hautinsta {
        width: 8%;
        margin-top: 19%;
    }

    img#hautfb {
        width: 6.2%;
        margin-top: 19.9%;
    }

    nav ul li {
        width: 75%;
        text-align: center;
        margin-left: 7.5%;
    }

    nav .nothere a {
        font-size: 125%;
    }

    nav a {
        font-size: 125%;
    }

    .navigation li {
        margin-left: 10%;
    }

    .sous {
        opacity: 0%;
    }

    .navigation i::after {
        content: "";
    }

    .descrip {
        padding-top: 5%;
    }

    .descrip h1 {
        margin-top: 0%;
        font-size: 125%;
    }

    .comment h1 {
        font-size: 125%;
    }

    .themes {
        height: 235vw;
    }

    .themes img {
        display: block;
    }

    #recyclerie img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        filter: blur(0px);
    }

    #recyclerie h1 {
        margin-left: 0%;
        margin-top: 30%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #pole img {
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #pole h1 {
        margin-left: 0%;
        margin-top: 120%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #social img {
        float: none;
        position: sticky;
        text-align: center;
        margin-left: 7.5%;
        width: 75%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #social h1 {
        margin-left: 0%;
        margin-top: 199%;
        font-size: 160%;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .suite {
        height: 195vw;
        width: 100%;
    }

    .descrip2 h1 {
        font-style: bold;
        margin-top: 12.5%;
        text-align: center;
        font-size: 175%;
        margin-left: 0%;
        margin-bottom: 1%;
    }

    .descrip2 h2 {
        width: 90%;
        padding-left: 5%;
        font-size: 125%;
        margin-left: 0%;
    }

    .liste h1 {
        margin-top: 2.5%;
        padding-left: 0%;
        text-align: center;
        width: 95%;
        margin-right: 0%;
        font-size: 150%;
        padding-right: 2.5%;
        margin-left: 2.5%;
    }

    .liste h2 {
        margin-top: 0%;
        padding-left: 2.5%;
        font-size: 125%;
    }

    .liste h3 {
        width: 90%;
        padding-left: 5%;
        margin-top: 0%;
        font-size: 125%;
        margin-bottom: 10%;
    }

    footer {
        margin-top: 0%;
        height: 26vw;
    }

    .foot img {
        width: 4%;
    }
}

@media screen and (min-width: 551px) and (max-width: 710px) {
    html {
        height: 59vw;
    }

    .logo {
        margin-bottom: 0%;
    }

    img#logolrh {
        width: 27.5%;
        text-align: center;
        margin-right: 23.5%;
    }

    img#hautinsta {
        width: 6.5%;
        margin-top: 15.9%;
    }

    img#hautfb {
        width: 5.5%;
        margin-top: 16.4%;
    }

    nav .nothere a {
        font-size: 200%;
    }

    nav a {
        font-size: 200%;
    }

    nav ul li {
        width: 75%;
        text-align: center;
        margin-left: 7.5%;
    }

    .navigation li {
        margin-left: 10%;
    }

    .sous {
        opacity: 0%;
    }

    .navigation i::after {
        content: "";
    }

    .descrip {
        padding-top: 5%;
    }

    .descrip h1 {
        font-size: 200%;
        margin-top: 0%;
    }

    .comment h1 {
        font-size: 200%;
    }

    .themes {
        height: 235vw;
    }

    .themes img {
        display: inline-block;
    }

    #recyclerie img {
        position: sticky;
        text-align: center;
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 5%;
        padding-top: 0%;
        filter: blur(0px);
    }

    #recyclerie h1 {
        margin-left: 0%;
        margin-top: 40%;
        font-size: 275%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #pole img {
        position: sticky;
        text-align: center;
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #pole h1 {
        margin-left: 0%;
        margin-top: 120%;
        font-size: 275%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #social img {
        float: none;
        position: sticky;
        text-align: center;
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #social h1 {
        margin-left: 0%;
        margin-top: 199%;
        font-size: 275%;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .suite {
        width: 100%;
    }

    .descrip2 h1 {
        margin-top: 10%;
        font-size: 250%;
    }

    .descrip2 h2 {
        width: 90%;
        padding-left: 5%;
        font-size: 200%;
        margin-left: 0%;
    }

    .liste h1 {
        margin-top: 2.5%;
        padding-left: 0%;
        text-align: center;
        width: 95%;
        margin-right: 0%;
        font-size: 250%;
        margin-right: 5%;
        margin-left: 2.5%;
    }

    .liste h2 {
        margin-top: 0%;
        padding-left: 2.5%;
        font-size: 200%;
    }

    .liste h3 {
        width: 90%;
        padding-left: 5%;
        margin-top: 0%;
        font-size: 200%;
        margin-bottom: 10%;
    }

    footer {
        margin-top: 0%;
    }

    .foot h3 {
        font-size: 175%;
    }

    .foot img {
        width: 2.5%;
    }
}

@media screen and (min-width: 711px) and (max-width: 750px) {
    html {
        height: 59vw;
    }

    .logo {
        margin-bottom: 0%;
    }

    img#logolrh {
        width: 27.5%;
        text-align: center;
        margin-right: 23.5%;
    }

    img#hautinsta {
        width: 6.5%;
        margin-top: 15.9%;
    }

    img#hautfb {
        width: 5.5%;
        margin-top: 16.4%;
    }

    nav .nothere a {
        font-size: 200%;
    }

    nav a {
        font-size: 200%;
    }

    nav ul li {
        width: 75%;
        text-align: center;
        margin-left: 7.5%;
    }

    .navigation li {
        margin-left: 10%;
    }

    .sous {
        opacity: 0%;
    }

    .navigation i::after {
        content: "";
    }

    .descrip {
        padding-top: 5%;
    }

    .descrip h1 {
        font-size: 200%;
        margin-top: 0%;
    }

    .comment h1 {
        font-size: 200%;
    }

    .themes {
        height: 235vw;
    }

    .themes img {
        display: inline-block;
    }

    #recyclerie img {
        position: sticky;
        text-align: center;
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 5%;
        padding-top: 0%;
        filter: blur(0px);
    }

    #recyclerie h1 {
        margin-left: 0%;
        margin-top: 40%;
        font-size: 275%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #pole img {
        position: sticky;
        text-align: center;
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #pole h1 {
        margin-left: 0%;
        margin-top: 120%;
        font-size: 275%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #social img {
        float: none;
        position: sticky;
        text-align: center;
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #social h1 {
        margin-left: 0%;
        margin-top: 199%;
        font-size: 275%;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .suite {
        width: 100%;
    }

    .descrip2 h1 {
        margin-top: 10%;
        font-size: 250%;
    }

    .descrip2 h2 {
        width: 90%;
        padding-left: 5%;
        font-size: 200%;
        margin-left: 0%;
    }

    .liste h1 {
        margin-top: 2.5%;
        padding-left: 0%;
        text-align: center;
        width: 95%;
        margin-right: 0%;
        font-size: 250%;
        margin-right: 5%;
        margin-left: 2.5%;
    }

    .liste h2 {
        margin-top: 0%;
        padding-left: 2.5%;
        font-size: 200%;
    }

    .liste h3 {
        width: 90%;
        padding-left: 5%;
        margin-top: 0%;
        font-size: 200%;
        margin-bottom: 10%;
    }

    footer {
        margin-top: 0%;
    }

    .foot h3 {
        font-size: 175%;
    }

    .foot img {
        width: 2.5%;
    }
}

@media screen and (min-width: 751px) and (max-width: 820px) {
    html {
        height: 59vw;
    }

    .logo {
        margin-bottom: 0%;
    }

    img#logolrh {
        width: 25%;
        text-align: center;
        margin-right: 23.5%;
    }

    img#hautinsta {
        width: 5.5%;
        margin-top: 18%;
    }

    img#hautfb {
        width: 4.45%;
        margin-top: 18.7%;
    }

    nav {
        padding-top: 2.5%;
        text-align: center;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        width: 75%;
        text-align: center;
        margin-left: 7.5%;
    }

    ul {
        text-align: center;
    }

    nav .nothere a {
        font-size: 175%;
    }

    nav a {
        font-size: 175%;
        text-align: center;
    }

    .navigation li {
        margin-left: 10%;
    }

    .navigation i::after {
        content: "";
    }

    .sous {
        opacity: 0%;
    }

    .descrip {
        padding-top: 5%;
    }

    .descrip h1 {
        margin-top: 0%;
        font-size: 150%;
    }

    .comment h1 {
        font-size: 150%;
    }

    .themes {
        height: 235vw;
    }

    .themes img {
        display: inline-block;
    }

    #recyclerie img {
        position: sticky;
        text-align: center;
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 5%;
        padding-top: 0%;
        filter: blur(0px);
    }

    #recyclerie h1 {
        margin-left: 0%;
        margin-top: 40%;
        font-size: 275%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #pole img {
        position: sticky;
        text-align: center;
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #pole h1 {
        margin-left: 0%;
        margin-top: 120%;
        font-size: 275%;
        position: absolute;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    #social img {
        float: none;
        position: sticky;
        text-align: center;
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding: 5%;
        padding-top: 2.5%;
        filter: blur(0px);
    }

    #social h1 {
        margin-left: 0%;
        margin-top: 199%;
        font-size: 275%;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    .suite {
        height: 130vw;
        width: 100%;
    }

    .descrip2 h1 {
        margin-top: 10%;
        font-size: 225%;
    }

    .descrip2 h2 {
        width: 90%;
        padding-left: 5%;
        font-size: 175%;
        margin-left: 0%;
    }

    .liste h1 {
        margin-top: 2.5%;
        padding-left: 0%;
        text-align: center;
        width: 95%;
        margin-right: 0%;
        font-size: 210%;
        margin-right: 5%;
        margin-left: 2.5%;
    }

    .liste h2 {
        margin-top: 0%;
        padding-left: 2.5%;
        font-size: 175%;
    }

    .liste h3 {
        width: 90%;
        padding-left: 5%;
        margin-top: 0%;
        font-size: 175%;
        margin-bottom: 10%;
    }

    footer {
        margin-top: 0%;
        height: 15vw;
    }

    .foot h3 {
        font-size: 150%;
    }

    .foot img {
        width: 2%;
    }
}

@media screen and (min-width: 1683px) and (max-width: 1795px) {
    nav ul li {
        width: 14.4%;
    }
}

@media screen and (min-width: 1565px) and (max-width: 1682px) {
    nav ul li {
        width: 15.5%;
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media screen and (min-width: 1470px) and (max-width: 1564px) {
    nav ul li {
        width: 16.5%;
        margin-right: 1.5%;
        margin-left: 1.5%;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1469px) {
    nav ul li {
        width: 17.75%;
        margin-right: 1%;
        margin-left: 1%;
    }
}

@media screen and (min-width: 1276px) and (max-width: 1365px) {
    nav ul li {
        width: 19%;
        margin-right: 0%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 1227px) and (max-width: 1275px) {
    nav ul li {
        width: 19.75%;
        margin-right: 0%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 1212px) and (max-width: 1226px) {
    nav ul li {
        width: 20%;
        margin-right: 0%;
        margin-left: 0%;
    }
}